<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R3DMCS: RNA 3D Motif Correspondence Server</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="shortcut icon" href="http://rna.bgsu.edu/rna3dhub/icons/C_icon.png">
    <script src="//d3js.org/d3.v4.min.js"></script>
    <script src="https://unpkg.com/logojs-react@2.1.1/dist/bundle.js" type="text/javascript"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
    <script src="http://rna.bgsu.edu/rna3dhub/js/jsmol/JSmol.min.nojq.js"></script>
    <script src="http://rna.bgsu.edu/rna3dhub/js/jquery.jmolTools.WebFR3D.js"></script>
    <script src="http://rna.bgsu.edu/webfr3d/js/imagehandling.js"></script>


    <style>
        .annotation-table {
          height: 400px; 
          overflow: scroll;}
        .annotation-table td {
          text-align: center;}
        .sequence-variants-table {height: 400px; overflow: scroll;}

        .footer-section {
          background-color: #000;
          height: 40px;
          padding: 10px;
          color: #fff;
          position: relative;
        }

        .load-time{
          text-align: center;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/correspondence">R3DMCS Correspondence Server</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="http://rna.bgsu.edu/rna3dhub/" target="_blank">BGSU Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://docs.google.com/document/d/1FZSLPdz89LLXahR7mZQXQmUGWXPVEKqWjcPBFf0vbIE/preview#heading=h.3mnkbpbqzfy1" target="_blank">Help</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.bgsu.edu/research/rna/APIs.html" target="_blank">APIs</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Download
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Pairwise annotation</a></li>
                  <li><a class="dropdown-item" href="#">Sequence conservation</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
          <div class="col-4">
            <dl>
                <dt>Query PDBID & Chain</dt>
                  <dd id="query_chain" class="edit">{{ query_info['pdb'] }} Chain {{ query_info['chain'] }}</dd>

                  <dt>Query Nucleotides</dt>
                  <dd id="query_nts" class="edit">{{ query_info['query_nts_str'] }}</dd>

                  <dt>Resolution Limit</dt>
                    <dd id="resolution_limit" class="edit">>= {{ query_info['resolution_limit'] }}</dd>

                  <dt>Rfam Accession</dt>
                    <dd id="rfam_accession" class="edit"><a href="https://rfam.org/family/{{ query_info['rfam_accession'] }}" target="_blank">{{ query_info['rfam_accession'] }}</a></dd>

                  <dt>Rfam Description</dt>
                    <dd id="rfam_description" class="edit">""</dd>

                  <dt>Number of instances</dt>
                    <dd id="num_instances" class="edit">{{ coord|length }}</a></dd>

                  <dt>Maximum Geometric Discrepancy</dt>
                    <dd id="max_discrepancy" class="edit">{{ query_info['max_discrepancy'] }}</dd>

                  <!-- <dt>95th Percentile Discrepancy</dt>
                    <dd id="percentile_disc" class="edit">{{ percentile }}</dd> -->
            </dl>
          </div>

          <div class="col-8 sequence-variants-table">
            <h4 style="text-align: center;">Unique species count from 3D structures </h4>
            <table class="table table-bordered">
              <tr>
                <th class="text-center">Scientific Name</th>
                <th class="text-center">Number of occurences</th>
              </tr>
              {% for row in name_count %}
              <tr>
                <!-- {% for col in row %}
                  <td class="text-center"><i>{{ col }}</i></td>
                {% endfor %} -->
                <td class="text-center"><i>{{ row[0] }}</i></td>
                <td class="text-center">{{ row[1] }}</td>
              </tr>  
              {% endfor %}
            </table>
          </div>

        </div>

        <div class="row">
          
          
          <div class="col-12 annotation-table">
              <table class="table table-sm table-striped table-bordered">
                  <thead class="thead-dark text-nowrap text-center">
                    <tr>
                      <th scope="col">View Entry</th>
                      <th scope="col">RNA Chain</th>
                      <th scope="col">Res (<span>&#8491;</span>)</th>
                      <th scope="col">Scientific Name</th>
                      <th scope="col">Equivalence Class</th>
                      {% for position_num in positions_header %}
                        <th scope="col">{{ position_num }}</th>
                      {% endfor %}
                      {% for nt_pair in pairwise_data[0] %}
                        <th scope="col">{{ nt_pair }}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody class="text-justify">
                    {% for k, v in coord.items() %}
                      <tr>
                        <td><input type='checkbox' id='{{ loop.index0 }}' class='jmolInline' data-coord = '{{ coord[k] }}'>{{ loop.index }}</td>
                        <td>{{ k }}</td>
                        <td><a>{{ chain_info[k]['resolution'] }}</a></td>
                        <td style="white-space:nowrap"><a><i>{{ chain_info[k]['source'] }}</i></a></td>
                        <td><a href="http://rna.bgsu.edu/rna3dhub/nrlist/view/{{ chain_info[k]['equivalence_class']  }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true" target="_blank">{{ chain_info[k]['equivalence_class'] }}</a></td>
                          
                        {% for position_num in positions_header %}
                          <td> {{ res_position[k][position_num]}} </td>
                        {% endfor %}
    
                        {% for nt_pair in pairwise_data[0] %}
                          <td> {{ pairwise_data[1][k][nt_pair]}} </td>
                        {% endfor %}

                      </tr>  
                    {% endfor %}
                  </tbody>
              </table>
          </div>
        
        
        </div>

        <div class="row">
          
          <div class="col-6">
            <script src="http://rna.bgsu.edu/webfr3d/js/jmolplugin.js" type="text/javascript"></script>

            <input type="button" id="neighborhood" value="Show neighborhood">
            <input type="button" id="prev" value="Previous">
            <input type="button" id="next" value="Next">
            <input type="button" id='all' value='Show all'>
            <label><input type="checkbox" id="showNtNums"> Show nucleotide number</label></br>

            <label>Coloring options:</label>
                <select id="colorOPT">
                    <option value="Default" selected>Default</option>
                    <option value="CPK">CPK</option>
                </select>
          </div>
          <div class="col-6">
            <div id ='chart'>
                <script type="text/javascript">
                    const data = {{ data | tojson | safe }};
                </script>
            </div> 
          </div>

        </div>


    </div>
    <script type="text/javascript" src="http://rna.bgsu.edu/webfr3d/js/heatmap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
  <section class="footer-section">

    <div class="load-time">
      <p>Page loaded in {{code_time}} seconds</p>
    </div>

  </section>
</html>