<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Correspondence Layout</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="//d3js.org/d3.v4.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
    <script src="http://rna.bgsu.edu/rna3dhub/js/jsmol/JSmol.min.nojq.js"></script>
    <script src="http://rna.bgsu.edu/rna3dhub/js/jquery.jmolTools.WebFR3D.js"></script>
    <script src="http://rna.bgsu.edu/webfr3d/js/imagehandling.js"></script>

    <style>
        .annotation-table {height: 400px; overflow: scroll;}
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
          <div class="col-3">
            <dl>
                <dt>Selection Structure Information</dt>
                  <dd id="common_name" class="edit">{{ selection_data[0] }} (Chain{{selection_data[1]}})</dd>

                  <dt>Source Organism</dt>
                  <dd id="max_disc" class="edit"><i>{{ organism }}</i></dd>

                <!--<dt>Selection Chain:</dt>
                  <dd id="common_name" class="edit">{{ selection_data[1] }}</dd>

                <dt>Selection Residues:</dt>
                  <dd id="common_name" class="edit">{{ selection_data[2] }}</dd>-->

                <dt>Equivalence Class</dt>
                  <dd id="common_name" class="edit"><a href="http://rna.bgsu.edu/rna3dhub/nrlist/view/{{ ec_name }}" target="_blank">{{ ec_name }}</a></dd>

                <dt>NR Release</dt>
                  <dd id="common_name" class="edit"><a href="http://rna.bgsu.edu/rna3dhub/nrlist/release/{{ nr_release }}" target="_blank">{{ nr_release }}</a></dd>

                <dt>Number of instances</dt>
                  <dd id="common_name" class="edit">{{ coord|length }}</a></dd>

                <dt>Maximum Discrepancy</dt>
                  <dd id="max_disc" class="edit">{{ max_disc }}</dd>

                <dt>95th Percentile Discrepancy</dt>
                  <dd id="max_disc" class="edit">{{ percentile }}</dd>
            </dl>
          </div>
          <div class="col-9 annotation-table">
            <table class="table table-bordered">
                <thead class="text-nowrap text-center">
                  <tr>
                    <th scope="col">View</th>
                    <th scope="col">RNA Chain</th>
                    {% for position_num in positions_header %}
                      <th scope="col">{{ position_num }}</th>
                    {% endfor %}
                    {% for res_pair in interactions_header %}
                      <th scope="col">{{ res_pair }}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody class="text-justify">
                  {% for k, v in coord.items() %}
                    <tr>
                      <td><input type='checkbox' id='{{ loop.index0 }}' class='jmolInline' data-coord = '{{ coord[k] }}'>{{ loop.index }}</td>
                      <td><a class='pdb'>{{ k }}</a></td>
                        {% for position_num in positions_header %}
                          <td> {{ res_position[k][position_num]}} </td>
                        {% endfor %}
  
                        {% for res_pair in interactions_header %}
                          <td> {{ pairwise_interactions[k][res_pair]}} </td>
                        {% endfor %}
                    </tr>  
                  {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <script src="http://rna.bgsu.edu/webfr3d/js/jmolplugin.js" type="text/javascript"></script>

            <input type="button" id="neighborhood" value="Show neighborhood">
            <input type="button" id="prev" value="Previous">
            <input type="button" id="next" value="Next">
            <input type="button" id='all' value='Show all'>
            <label><input type="checkbox" id="showNtNums">Show nucleotide number</label>

            <label>Coloring options:</label>
                <select id="colorOPT">
                    <option value="Default" selected>Default</option>
                    <option value="CPK">CPK</option>
                </select>
          </div>
          <div class="col-6">
            <div id ='chart'>
                <script type="text/javascript">
                    const data = {{ data | tojson | safe }};
                </script>
            </div> 
          </div>
          <!--<div class="col-4">
            3 of 3
          </div>-->
          <!--<div class="col">
            4 of 4
          </div>-->
        </div>
    <script type="text/javascript" src="http://rna.bgsu.edu/webfr3d/js/heatmap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>