
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="shortcut icon" href="http://rnatest.bgsu.edu/rna3dhub/icons/C_icon.png">
    <link rel="stylesheet" type="text/css" href="/r3d-2-msa/static/css/style.css">
    <script src="https://use.fontawesome.com/fa1f25e5ba.js"></script>
    <title>R3DMCS: RNA 3D Motif Correspondence Server</title>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button"
                  class="navbar-toggle collapsed"
                  data-toggle="collapse"
                  data-target="#navbar"
                  aria-expanded="false"
                  aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/correspondence">R3DMCS Correspondence Server</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/" target="_blank">BGSU RNA Home</a></li>
            <!-- OLD HELP LINK
            <li><a href="/main/alignment-server-help/" target="_blank">Help</a></li>
            -->
            <li><a href="https://docs.google.com/document/d/1FZSLPdz89LLXahR7mZQXQmUGWXPVEKqWjcPBFf0vbIE/preview#heading=h.3mnkbpbqzfy1" target="_blank">Help</a></li>
            <li><a href="https://www.bgsu.edu/research/rna/APIs.html" target="_blank">APIs</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="page_header">
        <h1>R3DMCS: RNA 3D Motif Correspondence Server</h1>

        <p align="justify">
          The BGSU RNA group maintains a data pipeline and website that groups
          together chains from various RNA containing PDB structure files that represent the same molecule from the same organism into <b>Equivalence Classes (EC)</b>. As part of our data annotation pipeline, we compute and store the correspondences between the residues in each pair of structures belonging to an Equivalence Class. The <b>Correspondence Server</b> can be used to query an RNA 3D motif or any set of nucleotides of interest in one RNA-containing PDB structure to find the corresponding nucleotides in each other structure in the equivalence class. The instances are ordered based on similarity so that instances that are more similar to each other are placed next to each other in the table
        </p>
      </div>
      </br>

      <div class="row">

        <form class="form-horizontal col-sm-12" id="generateCorrespondence" action="http://rna.bgsu.edu/correspondence/comparison">

          <div class="form-group col-sm-5">

            <label for="ife">Choose selection type</label>
            <select class="form-control" id="input-type" name="selection_type">
                <option value="loop_id">loop_id</option>
                <option value="unit_id">unit_id</option>
                <option value="res_num">residue_number</option>
                <option value="single_range">single range</option>
                <option value="multiple_ranges">multiple ranges</option>
            </select>    
            </br>

            <label for="chain_id" style="display: none;">Enter the chain_id</label>
            <input type="text" class="form-control" id="chain_id" style="display: none;" name="chain" placeholder="Enter the chain id ">
            <br id="newline1" style="display: none;">
            
            <label for="selection">Enter selection</label>
            <input type="text" class="form-control" id="selection" name="selection">
            <!--<i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>-->
            </br>

            <label for="discrepancy-method">Choose discrepancy calculation method</label>
            <select class="form-control" id="discrepancy-method" name="disc_method">
                <option value="geometric" selected>Geometric</option>
                <option value="relative">Relative</option>
            </select>
            </br>

            <label for="core" style="display: none;">Enter the core nucleotides for alignment</label>
            <input type="text" class="form-control" id="core" style="display: none;" name="core_res" placeholder="Enter the core nts ">
            <br id="newline2" style="display: none;">

            <label for="structure-resolution">Choose equivalence class resolution threshold</label>
            <select class="form-control" id="structure-resolution" name="resolution_threshold">
                <option value="4.0" selected>4.0</option>
                <option value="1.5">1.5</option>
                <option value="2.0">2.0</option>
                <option value="2.5">2.5</option>
                <option value="3.0">3.0</option>
                <option value="3.5">3.5</option>
                <option value="all">all</option>
            </select>
            </br>

            <label for="experimental-method">Choose experimental technique</label>
            <select class="form-control" id="experimental-method" name="exp_method">
                <option value="all" selected>Any</option>
                <option value="xray">X-ray diffraction</option>
                <option value="em">Cryo-electron microscopy</option>
            </select>
            </br>

            <button type="submit" id="submit_test" class="btn btn-primary">Submit</button>
          </div>




      

          

          <div class="col-sm-4 col-sm-offset-3">
            <h4>Examples</h4>
            <ul class="list-unstyled">
                
                <!--
                <li>
             
                    <a class="example-data" href="http://rna.bgsu.edu/correspondence/comparison?resolution_threshold=4.0&exp_method=xray&selection=5J7L|1|AA|G|1405,5J7L|1|AA|U|1406,5J7L|1|AA|5MC|1407,5J7L|1|AA|A|1408,5J7L|1|AA|C|1409,5J7L|1|AA|G|1491,5J7L|1|AA|A|1492,5J7L|1|AA|A|1493,5J7L|1|AA|G|1494,5J7L|1|AA|U|1495,5J7L|1|AA|C|1496&selection_type=unit_id" target="_blank">
                      Decoding loop in <i>E. coli</i> SSU crystal structures
                  </a>
                </li>
                
                <li>
                  <a class="example-data" href="http://rna.bgsu.edu/correspondence/comparison?resolution_threshold=4.0&exp_method=all&selection=HL_3WC2_002&selection_type=loop_id" target="_blank">
                    Anticodon stem-loop in tRNA(Phe) from <i>S. cerevisae</i>
                  </a>
                </li>
              -->

                <li>
                  <a href="#" onClick="autoFillExample4(); return true;" >h18 internal loop in <i>S. cerevisae</i> SSU EM structures</a>
                </li></br>

                <li>
                  <a href="#" onClick="autoFillExample1(); return true;" >Decoding internal loop in <i>E. coli</i> SSU crystal structures</a>
                </li></br>

                <li>
                  <a href="#" onClick="autoFillExample2(); return true;" >Anticodon stem-loop in tRNA(Phe) from <i>S. cerevisae</i></a>
                </li></br>

                <li>
                  <a href="#" onClick="autoFillExample3(); return true;" >Head movement in <i>E. coli</i> SSU crystal structures</a>
                </li></br>

                <!--<button id="example-data3">Fill data</button>-->
                
                <!--<li>
                  <a class="example-data" data-units='2AW7|1|A||580:2AW7|1|A||584,2AW7|1|A||757:2AW7|1|A||761'>
                    Helix 69 hairpin loop from human LSU 
                  </a>
                </li>-->
                
            </ul>
          </div>

        </form>    

      </div>
      <hr>

      <!--<div class="row">
        <div class="col-sm-8">
          <h3>How to Use</h3>
          <ul>
            <li>First, choose the selection type. Currently, users can choose either loop_id or unit_id.
            </li>
            <li>Then, provide the selection.
            </li>
            <li>Next, choose the resolution threshold.
            </li>
            <li>Submit your query.</li>
            <li>For examples, click the example buttons.</li>
          </ul>
        </div>

        <div class="col-sm-4">
          <h3>Data Source</h3>
          <p>Equivalence Classes from the <a
            href="http://rna.bgsu.edu/rna3dhub/nrlist"> Representative Sets of RNA 3D Structures pages</a>.
          </p>
        </div>
      </div>-->


    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <!--<script src="/r3d-2-msa/static/js/form.js"></script>-->

    <script type="text/javascript">

        //document.getElementById("example-data3").addEventListener("click", simulateLogin("HL_5J7L_001"));

        $('#discrepancy-method').change(function() {
            let selected = $(this).val();
            if(selected == 'relative'){
                $('#core').show();
                $('label[for="core"]').show();
                $('#newline2').show();
            }
            else{
                $('#core').hide();
                $('label[for="core"]').hide();
                $('#newline2').hide();
            }
        });

        $('#input-type').change(function() {
            let selected = $(this).val();
            if(selected == 'res_num' || selected == 'single_range' || selected == 'multiple_ranges'){
                $('#chain_id').show();
                $('label[for="chain_id"]').show();
                $('#newline1').show();
            }
            else{
                $('#chain_id').hide();
                $('label[for="chain_id"]').hide();
                $('#newline1').hide();
            }
        });

        function simulateLogin(loop_id)
        {
            var selection_field = document.getElementById("selection");
            selection_field.value = loop_id;
        }

      $('#generateCorrespondence').on('submit', function() {
  
        let id = $('#input-type').val();
        let selection = $('#selection').val();
        let method = $('#experimental-method').val();
        let resolution = $('#structure-resolution').val();
  
      if (id == 'loop_id') {
        let formAction = $('#generateCorrespondence').attr('action');
        //let url = formAction + 'resolution_threshold=' + resolution + '&' + 'exp_method=' + method + '&' + 'loop_id=' + selection ;
        //$('#generateCorrespondence').attr('action', url);
        let url = formAction + $('#generateCorrespondence').serialize();
        // alert(url);
        //window.location.assign(url)
        }
      });
      

    </script>

    <script type="text/javascript">
      function autoFillExample1() {
        
        $('#chain_id').hide();
        $('label[for="chain_id"]').hide();
        $('#newline1').hide();
        $('#core').hide();
        $('label[for="core"]').hide();
        $('#newline2').hide();


        document.getElementById('input-type').value = "multiple_ranges";
        $('#chain_id').show();
        $('label[for="chain_id"]').show();
        $('#newline1').show();
        document.getElementById('chain_id').value = "5J7L|1|AA";
        document.getElementById('selection').value = "1405:1409,1491:1496";
        document.getElementById('discrepancy-method').value = "geometric";
        document.getElementById('structure-resolution').value = "4.0";
        document.getElementById('experimental-method').value = "xray";
    
        //var radioElements = document.getElementsByName("input3");
      }

      function autoFillExample2() {
        
        $('#chain_id').hide();
        $('label[for="chain_id"]').hide();
        $('#newline1').hide();
        $('#core').hide();
        $('label[for="core"]').hide();
        $('#newline2').hide();
        
        document.getElementById('input-type').value = "loop_id";
        document.getElementById('selection').value = "HL_3WC2_002";
        document.getElementById('discrepancy-method').value = "geometric";
        document.getElementById('structure-resolution').value = "4.0";
        document.getElementById('experimental-method').value = "all";
    
        //var radioElements = document.getElementsByName("input3");
      }

      function autoFillExample3() {
        
        $('#chain_id').hide();
        $('label[for="chain_id"]').hide();
        $('#newline1').hide();
        $('#core').hide();
        $('label[for="core"]').hide();
        $('#newline2').hide();
        
        
        document.getElementById('input-type').value = "res_num";
        $('#chain_id').show();
        $('label[for="chain_id"]').show();
        $('#newline1').show();
        document.getElementById('chain_id').value = "5J7L|1|AA";
        document.getElementById('selection').value = "962,963,972,973";
        document.getElementById('discrepancy-method').value = "relative";
        $('#core').show();
        $('label[for="core"]').show();
        $('#newline2').show();
        document.getElementById('core').value = "12,23,32,502,543,552,568,882,887,910";
        document.getElementById('structure-resolution').value = "4.0";
        document.getElementById('experimental-method').value = "xray";
    
        //var radioElements = document.getElementsByName("input3");
      }

      function autoFillExample4() {
        
        $('#chain_id').hide();
        $('label[for="chain_id"]').hide();
        $('#newline1').hide();
        $('#core').hide();
        $('label[for="core"]').hide();
        $('#newline2').hide();


        document.getElementById('input-type').value = "multiple_ranges";
        $('#chain_id').show();
        $('label[for="chain_id"]').show();
        $('#newline1').show();
        document.getElementById('chain_id').value = "5TBW|1|A";
        document.getElementById('selection').value = "564:568,576:581";
        document.getElementById('discrepancy-method').value = "geometric";
        document.getElementById('structure-resolution').value = "4.0";
        document.getElementById('experimental-method').value = "em";
    
        //var radioElements = document.getElementsByName("input3");
      }
    </script>
  </body>
</html>

