
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="shortcut icon" href="http://rnatest.bgsu.edu/rna3dhub/icons/C_icon.png">
    <link rel="stylesheet" type="text/css" href="/r3d-2-msa/static/css/style.css">
    <script src="https://use.fontawesome.com/fa1f25e5ba.js"></script>
    <title>R3DMCS: RNA 3D Motif Correspondence Server</title>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button"
                  class="navbar-toggle collapsed"
                  data-toggle="collapse"
                  data-target="#navbar"
                  aria-expanded="false"
                  aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/correspondence">R3DMCS Correspondence Server</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/" target="_blank">BGSU RNA Home</a></li>
            <li><a href="https://docs.google.com/document/d/1FZSLPdz89LLXahR7mZQXQmUGWXPVEKqWjcPBFf0vbIE/preview#heading=h.3mnkbpbqzfy1" target="_blank">Help</a></li>
            <li><a href="https://www.bgsu.edu/research/rna/APIs.html" target="_blank">APIs</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="page_header">
        <h1>R3DMCS: RNA 3D Motif Correspondence Server</h1>

        <p align="justify">
          The BGSU RNA group maintains a data pipeline and website that groups
          together chains from various RNA containing PDB structure files that represent the same molecule from the same organism into <b>Equivalence Classes (EC)</b>. As part of our data annotation pipeline, we compute and store the correspondences between the residues in each pair of structures belonging to an Equivalence Class. The <b>Correspondence Server</b> can be used to query an RNA 3D motif or any set of nucleotides of interest in one RNA-containing PDB structure to find the corresponding nucleotides in each other structure in the equivalence class. The instances are ordered based on similarity so that instances that are more similar to each other are placed next to each other in the table
        </p>
      </div>
      </br>

      <div class="row">

        <form class="form-horizontal col-sm-12" id="generateCorrespondence">

          <div class="form-group col-sm-4">

            <!-- <label for="ife">Choose selection type</label>
            <select class="form-control" id="input-type" name="selection_type">
                <option value="loop_id">loop_id</option>
                <option value="unit_id">unit_id</option>
                <option value="res_num">residue_number</option>
                <option value="single_range">single range</option>
                <option value="multiple_ranges">multiple ranges</option>
            </select>    
            </br> -->

            <!-- <label for="chain_id" style="display: none;">Enter the PDB id, model number and chain id separated by vertical bars</label>
            <input type="text" class="form-control" id="chain_id" style="display: none;" name="chain" placeholder="Enter the chain id ">
            <i class="fas fa-check-circle" style="display: none;" id="icon_correct_one"></i>
            <i class="fas fa-exclamation-circle" style="display: none;" id="icon_false_one"></i>
            <small style="display: none;">Error message</small>
            <br id="newline1" style="display: none;"> -->
            
            <label for="selection">Enter selection</label>
            <input type="text" class="form-control" id="selection" name="selection">
            </br>

            <label for="correspondence_type">Choose correspondence type</label>
            <select class="form-control" id="correspondence-type" name="corr_type">
                <option value="ec">Across Equivalence Class</option>
                <option value="rfam">Across Rfam family</option>
            </select>
            </br>

            <!-- <label for="discrepancy-method">Choose discrepancy calculation method</label>
            <select class="form-control" id="discrepancy-method" name="disc_method">
                <option value="geometric" selected>Geometric</option>
                <option value="relative">Relative</option>
            </select>
            </br> -->

            <!-- <label for="core" style="display: none;">Enter the core nucleotides for alignment</label>
            <input type="text" class="form-control" id="core" style="display: none;" name="core_res" placeholder="Enter the core nts ">
            <br id="newline2" style="display: none;"> -->

            <label for="structure-resolution">Choose resolution threshold</label>
            <select class="form-control" id="structure-resolution" name="resolution">
                <option value="4.0" selected>4.0</option>
                <option value="1.5">1.5</option>
                <option value="2.0">2.0</option>
                <option value="2.5">2.5</option>
                <option value="3.0">3.0</option>
                <option value="3.5">3.5</option>
                <option value="all">all</option>
            </select>
            </br>

            <label for="experimental-method">Choose experimental technique</label>
            <select class="form-control" id="experimental-method" name="exp_method">
                <option value="all" selected>All</option>
                <option value="xray">X-ray diffraction</option>
                <option value="em">Cryo-electron microscopy</option>
            </select>
            </br>

            <button type="submit" id="submit_test" class="btn btn-primary">Submit</button>
          </div>


        </form>    

      </div>
      <hr>


    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script type="text/javascript">

      document.getElementById("generateCorrespondence").addEventListener("submit", function(event) {
        event.preventDefault(); // Prevent form submission
        
        // Retrieve form values
        const selection = document.getElementById("selection").value;
        const exp_method = document.getElementById("experimental-method").value;
        const resolution = document.getElementById("structure-resolution").value;
        const corr_type = document.getElementById("correspondence-type").value;
        
        // Construct the URL
        if (corr_type == "ec") {
          const url = `http://rna.bgsu.edu/correspondence/comparison?selection=${encodeURIComponent(selection)}&exp_method=${encodeURIComponent(exp_method)}&resolution=${encodeURIComponent(resolution)}`;
          window.location.href = url;
        } else {
          const url = `http://rna.bgsu.edu/correspondence/comparison_across_species?selection=${encodeURIComponent(selection)}&exp_method=${encodeURIComponent(exp_method)}&resolution=${encodeURIComponent(resolution)}A`;
          window.location.href = url;
        }
      });
    </script>
  </body>
</html>

