<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R3DMCS: RNA 3D Motif Correspondence Server</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="shortcut icon" href="http://rna.bgsu.edu/rna3dhub/icons/C_icon.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/correspondence">R3DMCS Correspondence Server</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="http://rna.bgsu.edu/rna3dhub/" target="_blank">RNA 3D Hub</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://docs.google.com/document/d/1FZSLPdz89LLXahR7mZQXQmUGWXPVEKqWjcPBFf0vbIE/preview#heading=h.3mnkbpbqzfy1" target="_blank">Help</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.bgsu.edu/research/rna/APIs.html" target="_blank">APIs</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="page_header">
        <h1>R3DMCS: RNA 3D Motif Correspondence Server</h1>

        <p align="justify" class="lead">
          The RNA 3D Motif Correspondence Server allows querying RNA 3D motifs or specific nucleotide sets in an RNA-containing PDB structure. It then identifies corresponding nucleotides in other structures of the same molecule type from the same species or different species. The results are presented in a table based on geometric similarity, with more similar instances grouped together. An interactive heatmap with a 3D viewer visually displays the geometric differences between the motif instances. The formation of separate clusters in the heatmap may indicate variable motif geometries linked to biological function or ligand binding.
        </p>
      </div>

      <div class="row">

        <form class="form-horizontal col-sm-12" id="generateCorrespondence">

          <div class="form-group col-sm-4">

            <label for="selection">Enter PDB ID (optional)</label>
            <input type="text" class="form-control" id="pdb" name="pdb">
            </br>

            <label for="selection">Enter Chain ID (optional)</label>
            <input type="text" class="form-control" id="chain" name="chain">
            </br>
            
            <!-- <label for="selection">Enter selection &nbsp</label><span id="popup-icon" class="fa fa-question-circle" aria-hidden="true"></span> -->
            <label for="selection">Enter Selection &nbsp</label>
            <!-- <i class="fa fa-question-circle" aria-hidden="true"></i> -->
            <input type="text" class="form-control" id="selection" name="selection" required>
            </br>

            <label for="correspondence_type">Choose Correspondence Type</label>
            <select class="form-control" id="scope" name="scope">
                <option value="EC">Same species</option>
                <option value="Rfam">Different species</option>
            </select>
            </br>

            <div id="depth-input-container" style="display: none;">
              <label for="depth">Depth</label>
              <input type="text" class="form-control" id="depth" name="depth", value=1>
              </br>
            </div>

            <label for="structure-resolution">Choose Resolution Threshold</label>
            <select class="form-control" id="structure-resolution" name="resolution">
                <option value="4.0" selected>4.0</option>
                <option value="3.5">3.5</option>
                <option value="3.0">3.0</option>
                <option value="2.5">2.5</option>
                <option value="2.0">2.0</option>
                <option value="1.5">1.5</option>
                <option value="all">all</option>
            </select>
            </br>

            <label for="experimental-method">Choose Experimental Technique</label>
            <select class="form-control" id="experimental-method" name="exp_method">
                <option value="all" selected>All</option>
                <option value="xray">X-ray diffraction</option>
                <option value="em">Cryo-electron microscopy</option>
            </select>
            </br>

            <button type="submit" id="submit_test" class="btn btn-primary" >Submit</button>
            <button type="button" id="clear_form" class="btn btn-light" onclick="clearForm()">Clear</button>
            <span id="loading" style="display: none;"><i class="fa fa-spinner fa-spin"></i> Loading... </span>
          </div>
        </form>    

      </div>
      <hr>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script type="text/javascript">

      function disableSubmitButton() {
        var submitButton = document.getElementById("submit_test");
        submitButton.disabled = true; 
        setTimeout(function() {
            submitButton.disabled = false; 
        }, 20000); 
      }

      window.onload = function () {
        disableSubmitButton();
        var object = JSON.parse('{{ input_parameters|tojson|safe }}');
        console.log(object)
        // Check if the object is not empty and present
        if (object && Object.keys(object).length > 0) {
          const form = document.getElementById('generateCorrespondence');

          for (const key in object) {
            if (object.hasOwnProperty(key)) {
              const value = object[key];

              const inputs = form.querySelectorAll(`[name="${key}"]`);

              if (inputs.length > 0) {
                // Loop through all matching input elements (in case of radio buttons or multiple elements with the same name)
                inputs.forEach((input) => {
                  if (input.type === 'checkbox') {
                    input.checked = value;
                  } else {
                    input.value = value;
                  }

                  // If the key is 'depth' and it's not null or undefined, make the hidden element visible and update its value
                  if (key === 'depth' && value !== null && value !== undefined) {
                    const depthInputContainer = document.getElementById('depth-input-container');
                    depthInputContainer.style.display = 'block';
                    const depthInput = depthInputContainer.querySelector('[name="depth"]');
                    depthInput.value = value;
                  }
                });
              }
            }
          }
        }
      }
  
      function showLoading() {
        document.getElementById("loading").style.display = "inline";
      }

      function hideLoading() {
        document.getElementById("loading").style.display = "none";
      }

      function clearForm() {
        document.getElementById("generateCorrespondence").reset();
      }

      function processEmptyInput(inputVal) {
        if (inputVal.trim() === "") {
          return null;
        } else {
          return inputVal;
        }
      }

      // Function to set depth value based on scope and user input
      function getDepthValue(scope, userInputDepth) {
        if (scope === "EC") {
          return null; 
        } else if (scope === "Rfam") {
          return userInputDepth ? userInputDepth : 1; 
        } else {
          return userInputDepth ? userInputDepth : null; 
        }
      }

      const convertToCommaSeparated = (inputString) => {
        const splitList = inputString.split(/\t+|\s+/);
        const commaSeparatedString = splitList.join(',');
        return commaSeparatedString;
      };

      document.getElementById('scope').addEventListener('change', function() {
        var depthInputContainer = document.getElementById('depth-input-container');
        var correspondenceTypeValue = this.value;

        // Show/hide the "Depth" input based on the selected option
        if (correspondenceTypeValue === 'Rfam') {
          depthInputContainer.style.display = 'block';
        } else {
          depthInputContainer.style.display = 'none';
        }
      });

      document.getElementById("generateCorrespondence").addEventListener("submit", function(event) {
        event.preventDefault(); // Prevent form submission
        
        // Retrieve form values
        const pdbInput = document.getElementById("pdb").value;
        const chainInput = document.getElementById("chain").value;

        const pdb = processEmptyInput(pdbInput)
        const chain = processEmptyInput(chainInput)
        const selection = document.getElementById("selection").value;
        const formatted_selection = convertToCommaSeparated(selection)
        const exp_method = document.getElementById("experimental-method").value;
        const resolution = document.getElementById("structure-resolution").value;
        const scope = document.getElementById("scope").value;
        
        const userInputDepth = document.getElementById("depth").value;
        // Get the depth value based on the selected scope and user input
        const species_depth = getDepthValue(scope, userInputDepth);

        if (selection.trim() !== "") {
          showLoading(); 

          const url = `http://rna.bgsu.edu/correspondence/comparison?pdb=${encodeURIComponent(pdb)}&chain=${encodeURIComponent(chain)}&selection=${encodeURIComponent(formatted_selection)}&exp_method=${encodeURIComponent(exp_method)}&resolution=${encodeURIComponent(resolution)}&depth=${encodeURIComponent(species_depth)}&scope=${encodeURIComponent(scope)}`;
          window.location.href = url;
        } else {
          hideLoading(); 
        }

      });

      // Add an event listener to the browser's "pageshow" event
      window.addEventListener("pageshow", function(event) {
        // Check if the page is loaded from the cache
        if (event.persisted) {
          // Hide the loading message when the page is loaded from the cache
          hideLoading();
        }
      });

    </script>
  </body>
</html>


