<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="Center">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R3DSVS: RNA 3D Motif Sequence Variability Server</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="shortcut icon" href="http://rna.bgsu.edu/rna3dhub/icons/V_icon.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
  </head>

    <style>
      .tooltip {
        position: relative;
        display: inline-block;
      }

      .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: -30px; /* Adjust this value to control the distance of the tooltip from the input */
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
      }

      .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
      }

      .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/correspondence/variability">R3DSVS Sequence Variability Server</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="http://rna.bgsu.edu/rna3dhub/" target="_blank">RNA 3D Hub</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://docs.google.com/document/d/1hCv7sjyKbSNr6pudsbFw040Jy9L0TCCKGlIwdilQ2IM/preview#heading=h.layh0j5p89lg" target="_blank">Help</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.bgsu.edu/research/rna/APIs.html" target="_blank">APIs</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Download
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Pairwise annotation</a></li>
                <li><a class="dropdown-item" href="#">Sequence conservation</a></li>
              </ul>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="page_header">
        <h1>R3DSVS: RNA 3D Motif Sequence Variability Server</h1>

        <p align="justify" class="lead">
          The RNA 3D Motif Sequence Variability Server maps the given nucleotides to columns of a
          multiple sequence alignment and returns sequence variants in a variety of formats.
	  This makes it possible to see how the sequence of a 3D motif varies across many species,
	  including ones for which we do not have a 3D structure.  R3D SVS can be used to study the
          sequence variability of individual nucleotides, base paired nucleotides, or small motifs.
        </p>
        <p>This site is under construction as of November 2023</p>
      </div>


	<div class="row">

       <div class="col-sm-6" style="width:50%;float:left;">
        <form class="form-horizontal" id="generateMotifSequenceVariabilityServer">


            <!-- <label for="selection">Enter ID &nbsp</label><span id="popup-icon" class="fa fa-question-circle" aria-hidden="true"></span> -->
            <label for="id">Enter unit id(s)/loop id(s) &nbsp</label>
            <!-- <i class="fa fa-question-circle" aria-hidden="true"></i> -->
            <input type="text" class="form-control" id="id" name="id" value="IL_4V9F_007">
            </br>

            <label for="format">Choose output format </label>
            <select class="form-control" id="format" name="format">
                <option value="full" selected>full (all sequences, species, identifiers)</option>
                <option value="unique">unique (only unique sequences)</option>
                <option value="fasta">fasta (all sequences in fasta format)</option>
            </select>
            </br>

            <label for="count">Choose count restriction</label>
        <select class="form-control" id="count" name="count" onchange="enableEditCount()">
            <option value="none" selected>none</option>
            <option value="top_10_sequences">top_10_sequences</option>
            <option value="top_20_sequences">top_20_sequences</option>
            <option value="multiplicity_5_or_more">multiplicity_5_or_more</option>
            <option value="multiplicity_10_or_more">multiplicity_10_or_more</option>
            <option value="top_90_percent">top_90_percent</option>
            <option value="top_80_percent">top_80_percent</option>
        </select>
	<div id="selectedCount"></div>
        </br>
            <label for="extension">Choose extension (beyond the specified loop limits)</label>
            <select class="form-control" id="extension" name="extension">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            </br>

            <label for="source">Select Source (choose from A,B,C,E,M,V,U. Can choose multiple sources and separate them with commas) &nbsp</label>
            <input type="text" class="form-control" id="source" name="source" oninput="replaceSpecialCharacters(this)">
            <div id="selectedItems">
            </div>
            </br>


	          <label for="datasource">Choose data source </label>
            <select class="form-control" id="datasource" name="datasource">
                <option value="Rfam" selected>Rfam </option>
                <option value="PDB">PDB</option>
            </select>
            </br>


            <button type="submit" id="submit_test" class="btn btn-primary" onclick="showLoading()" disabled>Submit</button>
            <button type="button" id="clear_form" class="btn btn-light" onclick="clearForm()">Clear</button>
            <span id="loading" style="display: none;"><i class="fa fa-spinner fa-spin"></i> Loading... </span>
          </div>
        </form>

        <div class="col-sm-6" style="width:50%;float:right;">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Examples</h5>
                <p><a href="http://rna.bgsu.edu/correspondence/SVS?id=7EVO%7C1%7CH%7CU%7C32&format=unique&input_form=True">Example 1</a><br>
                Watson-Crick-Franklin basepair from the spliceosome.  Only the unique sequences will be shown. They are usually U*A but sometimes U*U.</br>
                <a href="http://rna.bgsu.edu/rna3dhub/display3D/unitid/7EVO%7C1%7CH%7CU%7C32,7EVO%7C1%7CH%7CA%7C38" target="_blank">Visualize the coordinates at this link</a></p>
                <p><a href="http://rna.bgsu.edu/correspondence/SVS?id=8B0X|1|a|C|418&format=full&count=multiplicity_5_or_more&source=B&input_form=True">Example 2</a><br>
                E. coli has GC basepair, other bacteria have AU or UA or CG.<br>
                <a href="http://rna.bgsu.edu/rna3dhub/display3D/unitid/8B0X%7C1%7Ca%7CG%7C409,8B0X%7C1%7Ca%7CC%7C418,8B0X%7C1%7Ca%7CA%7C226" target="_blank">Visualize the coordinates at this link</a></p>
            		<p><a href="http://rna.bgsu.edu/correspondence/SVS?id=HL_4V9F_001&format=unique&count=multiplicity_5_or_more&input_form=True">Example 3</a><br>
                Hairpin loop from Helix 95 of archaeal LSU in fasta format.<br>
                <a href="http://rna.bgsu.edu/rna3dhub/loops/view/HL_4V9F_066" target="_blank">Visualize the cordinates at this link</a></p>
                <p><a href ="http://rna.bgsu.edu/correspondence/SVS?id=IL_8GLP_067&format=unique&input_form=True">Example 4</a><br>
                Eukaryotic internal loop with intercalated nucleotide.<br>
                <a href="http://rna.bgsu.edu/rna3dhub/loops/view/IL_8GLP_067" target="_blank">Visualize the coordinates at this link</a></p>
                <p>In addition to R3D SVS, several other APIs are available, where one can input unit ids or loop ids or chain ids and get back useful information.
                <a href="https://www.bgsu.edu/research/rna/APIs.html" target="_blank">RNA APIs</a></p>

              </div>
            </div>
          </div>
      </div>



      </div>
      <hr>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script type="text/javascript">

      window.onload = function () {
        // Access the input_parameters as a JavaScript object
        var inputParameters = JSON.parse('{{ input_parameters|tojson|safe }}');

        if (inputParameters.hasOwnProperty('input_form')) {
          if (inputParameters['input_form'] == 'True') {
            var select1 = document.getElementById('id');
            var select2 = document.getElementById('format');
            var select3 = document.getElementById('count');
            var select4 = document.getElementById('extension');
            var select5 = document.getElementById('source');
            // var select6 = document.getElementById('codon');
	    var select6 = document.getElementById('datasource');



            // Set the selected option based on input_parameters values
            if (inputParameters.hasOwnProperty('id')) {
                select1.value = inputParameters['id'];
            }
            if (inputParameters.hasOwnProperty('format')) {
                select2.value = inputParameters['format'];
            }
            if (inputParameters.hasOwnProperty('count')) {
                select3.value = inputParameters['count'];
            }
            if (inputParameters.hasOwnProperty('extension')) {
                select4.value = inputParameters['extension'];
            }
            if (inputParameters.hasOwnProperty('source')) {
                select5.value = inputParameters['source'];
            }

            if (inputParameters.hasOwnProperty('datasource')) {
                select6.value = inputParameters['datasource'];
            }

          }
        }
        // delay 2 seconds
        // Make the Submit button active after 2 seconds?
        // Delay for 2 seconds (2000 milliseconds)
        setTimeout(function () {
                // Enable the submit button
                document.getElementById('submit_test').removeAttribute('disabled');
            }, 2000);
      }

      function showLoading() {
        document.getElementById("loading").style.display = "inline";
      }

      // Function to hide the loading message
      function hideLoading() {
        document.getElementById("loading").style.display = "none";
      }

      function clearForm() {
        document.getElementById("generateMotifSequenceVariabilityServer").reset();
      }

      // Function to set depth value based on scope and user input
      function getDepthValue(scope, userInputDepth) {
        if (scope === "EC") {
          return null; // If scope is "EC", set depth to null
        } else if (scope === "Rfam") {
          return userInputDepth ? userInputDepth : 1; // If scope is "Rfam" and userInputDepth is not provided, use 1 as default
        } else {
          return userInputDepth ? userInputDepth : null; // For other cases, use userInputDepth if provided, else set depth to null
        }
      }

      const convertToCommaSeparated = (inputString) => {
        const splitList = inputString.split(/\t+|\s+/);
        const commaSeparatedString = splitList.join(',');
        return commaSeparatedString;
      };

      // document.getElementById('correspondence-type').addEventListener('change', function() {
      //   var depthInputContainer = document.getElementById('depth-input-container');
      //   var correspondenceTypeValue = this.value;

      //   // Show/hide the "Depth" input based on the selected option
      //   if (correspondenceTypeValue === 'Rfam') {
      //     depthInputContainer.style.display = 'block';
      //   } else {
      //     depthInputContainer.style.display = 'none';
      //   }
      // });

        document.getElementById("generateMotifSequenceVariabilityServer").addEventListener("submit", function(event) {
        event.preventDefault(); // Prevent form submission

        showLoading(); // Show loading message


        // Retrieve form values
        //const ID = processEmptyInput(ID)
        const id = document.getElementById("id").value;
        const format = document.getElementById("format").value;
        //const depth = document.getElementById("depth").value;
        const count = document.getElementById("count").value;
        const extension = document.getElementById("extension").value;
        const source = document.getElementById("source").value;
        // const codon = document.getElementById("codon").value;
	const datasource = document.getElementById("datasource").value;

        if (count === "none") {
        	// Construct the URL with extension and count
        	const url = `http://rna.bgsu.edu/correspondence/variability?id=${encodeURIComponent(id)}&format=${encodeURIComponent(format)}&extension=${encodeURIComponent(extension)}&source=${encodeURIComponent(source)}&datasource=${encodeURIComponent(datasource)}`;
		window.location.href = url;
       	} else if (extension === "0") {
		const url = `http://rna.bgsu.edu/correspondence/variability?id=${encodeURIComponent(id)}&format=${encodeURIComponent(format)}&count=${encodeURIComponent(count)}&source=${encodeURIComponent(source)}&datasource=${encodeURIComponent(datasource)}`;
        	window.location.href = url;
	} else {
		const url = `http://rna.bgsu.edu/correspondence/variability?id=${encodeURIComponent(id)}&format=${encodeURIComponent(format)}&count=${encodeURIComponent(count)}&extension=${encodeURIComponent(extension)}&source=${encodeURIComponent(source)}&datasource=${encodeURIComponent(datasource)}`;
		window.location.href = url;
	}

        //const url = `http://rna.bgsu.edu/correspondence/variability?id=${encodeURIComponent(id)}&format=${encodeURIComponent(format)}&count=${encodeURIComponent(count)}&extension=${encodeURIComponent(extension)}&source=${encodeURIComponent(source)}&datasource=${encodeURIComponent(datasource)}`;
        //window.location.href = url;

      });

      // Add an event listener to the browser's "pageshow" event
      window.addEventListener("pageshow", function(event) {
        // Check if the page is loaded from the cache
        if (event.persisted) {
          // Hide the loading message when the page is loaded from the cache
          hideLoading();
        }
      });

      // To display the text box when the other option is selected from the count drop down
      function enableEditCount() {
                var countSelect = document.getElementById('count');

                if (countSelect.value.startsWith("top_") || countSelect.value.startsWith("multiplicity_")) {
                    // Extract the numeric part
                    var numericPart = countSelect.value.match(/\d+/);
                    if (numericPart) {
                        // Prompt the user to edit the numeric part
                        var editedValue = prompt("Edit Count Restriction:", numericPart[0]);
                        if (editedValue !== null) {
                            // Update the countSelect option text with the edited numeric part
                            countSelect.options[countSelect.selectedIndex].text = countSelect.value.replace(/\d+/, editedValue);

          		   // Construct the URL with the edited count restriction value
          		   var editedCountValue = countSelect.value.replace(/\d+/, editedValue);
          		   updateURLWithCountRestriction(editedCountValue);
                        }
                    }
                }
            }



	function replaceSpecialCharacters(nputElement) {
            var inputElement = document.getElementById('domain');
            var errorElement = document.getElementById('error-message');
            var selectedItemsElement = document.getElementById('selectedItems');


            // Remove any non-allowed characters
            var cleanedValue = inputElement.value.replace(/[^A,B,C,E,M,V,U,]/g, '');

            // Display the cleaned value in the input field
            inputElement.value = cleanedValue;

            // Display selected items
            var selectedItems = cleanedValue.split(',');
            selectedItemsElement.innerHTML = 'Selected items: ' + selectedItems.join(', ');

            // Check for invalid characters
            var invalidCharacters = cleanedValue.replace(/[A,B,C,E,M,V,U,]/g, '');
            if (invalidCharacters.length > 0) {
                errorElement.innerHTML = 'Please enter valid characters. Enter the input value from A,B,C,E,M,V,U.';
            } else {
                errorElement.innerHTML = '';
            }
        }


    function replaceSpecialCharacters(inputElement) {
        // Replace specific special characters with commas
        inputElement.value = inputElement.value.replace(/[!@#$%^&*\\\/\[\]{}<>.?+=]/g, ',');
        inputElement.value = inputElement.value.replace(/[+`~]/g, ',');  // Replace +, `, ~ with ,
        inputElement.value = inputElement.value.replace(/,,/g, ',');     // Replace ,, with ,
        inputElement.value = inputElement.value.replace(/,,,/g, ',');    // Replace ,,, with ,
        inputElement.value = inputElement.value.replace(/\s+/g, ',');    // Replace spaces with commas
        inputElement.value = inputElement.value.replace(/\t+/g, ',');    // Replace tabs with commas

        // Allow only A, B, C, E, M, V (uppercase) in the input
        inputElement.value = inputElement.value.replace(/[^A,B,C,E,M,V,U]/g, '');
    }

    function showLoading() {
       document.getElementById("loading").style.display = "inline";
   }





    </script>
  </body>
</html>