<!DOCTYPE html>
<html>
  <head>
    <title>R3DMCS error</title>
  </head>

  <body>
    <h1>R3DMCS error page</h1>
    <p>
    Note that when an old tab in a web browser is visited, that seems to re-launch the query,
    but it often generates an error.
    We don't know why.
    It is a good idea to simply try re-loading the page.
    </p>

    <p>
    All server errors are logged.
    We check the log periodically and try to fix errors.
    If you need help, please contact Craig Zirbel at zirbel@bgsu.edu.
    </p>

    <p>
    <a href = "/correspondence">Return to R3DMCS home page</a>
    </p>

  </body>
</html>


